.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}



.App-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #586069;
}

.App-link {
  color: #61dafb;
}

.search-form {
  color: #586069;
}

.search-form input {
  width: 50%;
  border: none;
}

.search-form input:focus {
  outline: none;
}

.search-form .slash {
  color: #586069;
}

