.App {
  text-align: center;
  width: 80%;
  margin: 1rem auto;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.App-header {
  font-size: calc(10px + 2vmin);
  text-align: left;
  margin-bottom: 1rem;
  color: #586069;
}

.App-link {
  color: #61DAFB;
}

.search {
  margin-right: 0.5em;
  margin-left: 0.5em
}

.navigation-bar {
  text-align: right;
}

.navigation-bar .controls {
  padding: 0.3rem 0.8rem 0.4rem 0.2rem;
  background-color: #FAFBFC;
}

.navigation-bar .back {
  padding: 0.25em
}

.navigation-bar .forward {
  padding: 0.25em
}

.navigation-bar .count {
  padding: 0.25em;
}

.navigation-bar .separator {
  border-bottom: 1px solid #E1E4E8;
}

.search-form {
  color: #586069;
  padding-bottom: 0.5em;
  text-align: left;
}

.search-form input {
  width: 50%;
  border: none;
  color: #0366D6
}

.search-form input:focus {
  outline: none;
}

.search-form .slash {
  color: #586069;
}

.search .spinner .separator {
  background-color: #586069;
  height: 0.5em;
}

.search .spinner .content {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFBFC;
}

.search .error-card {
  justify-content: center;
  align-items: center;
}

.search .error-card .content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFBFC;
}

.search .error-card .error-icon {
  height: 6rem;
  margin-bottom: 1rem;
  pointer-events: none;
  border-radius: 50%;
}

.user-list {
  border-bottom: none;
  text-align: left;
}

.user-list .item {
  border-bottom: 1px solid #E1E4E8;
  color: #586069;
  display: flex;
  padding: 0.4rem 1rem 0.4rem 0.2rem;
  justify-content: space-between;
}

.user-list .item:hover {
  background: #F6F8FA;
}

.user-list .item:active {
  background: #FFFFFF;
}

.user-list .avatar {
  margin-left: 0.5em;
  height: 6vmin;
  pointer-events: none;
  border-radius: 50%;
}

.user-list .label {
  margin-left: 1rem;
  align-self: center;
}

.user-list .more-icon {
  color: #586069;
  align-self: center;
  display: inline;
  width: 2em;
  text-align: center;
  cursor: pointer;
}

.user-card {
  background-color: #FAFBFC;
  padding: 1rem 2rem 1rem 2rem;
}

.user-card .field-label {
  font-weight: 600;
}

.user-card .field-label .field-text {
  font-weight: 300;
  margin-left: 0.2em;
}